<!DOCTYPE html>
<html>
<head>
    <title>All Orders</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <h2>Orders</h2>
    {% if orders %}
        <br>
        <table style="width:100%">
            <tr>
                <th>Customer Name</th>
                <th>Customer Address</th>
                <th>Pizza Id</th>
                <th>Pizza Size</th>
                <th>Pizza Flavor</th>
                <th>Order Date-Time</th>
                <th>Actions</th>
            </tr>
            {% for order in orders %}
            <tr>
                <td>{{ order.customer.customer_name }}</td>
                <td>{{ order.customer.customer_address }}</td>
                <td>{{ order.pizza.pizza_id }}</td>
                {% if order.pizza.pizza_size %}
                <td>30 cm</td>
                {% else %}
                <td>50 cm</td>
                {% endif %}
                <td>{{ order.pizza.pizza_flavor }}</td>
                <td>{{ order.order_datetime }}</td>
                <td>
                    <form class="actions-form" action="/orders.html" method="post">
                        <select name="action">
                            <option value="edit">edit</option>
                            <option value="delete">delete</option>
                        </select>
                        <button type="submit">Go</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No orders found in the database.</p>
    {% endif %}
</body>
</html>